*{
	padding: 0px;
	margin: 0px; 
}

#menu{
	height: 0px;
	margin-bottom: 72px; 
}

#nav-superior{
	padding: 10px 0px; 

}

section#passo_passo{
	height: 100px;
	
}

#sobre{
	background-color: #A8CF45;
	height: 566px;
}

#p_administracao, #p_fornecedor {
	height: 283px; 
}

#cadastro{
	/*height: 294.5px; */
	background: #f8f8f8;
}

#atuality{
	height: 294.5px;
	margin-top: 5px; 
}

#rodape{
	height: 30px;
	background: #d8d8d8; 
}

#carrossel{
	padding: -10px 0px;
}

.active{
	background: #000; 
}

.opcao_menu:hover{
	background: #e1e1e1;
	color: white; 
}

.img_cadastro{
	margin-top: 0px;
	margin-left: 50px;
}

div.barrinha-superior{
	padding: 0px;
	margin: 0px; 
	width: 100%;
	height: 4px;
	background: #F5874F;
	background-image: linear-gradient(to right, #F5874F 33.33%, #112D62 33.33%, #112D62 66.66%, #A8CF45 66.66%, #A8CF45);
}

div.detalhes-col {
	/*background: #cccccc;*/
	padding: 10px;
	/*height: 300px;*/
}

section#contato {
	padding: 30px;
	
}

section#contato form button{
	width: 100%;
	font-weight: bold;
	background-color: #F5874F;
	color: #fff;
}

section#contato form button:hover{
	background-color: #E4763E;
}

nav.rodape{
	background: white;
}

ul.nav li{
	font-weight: bold;
}

ul.dropdown-menu li {
	font-weight: bold;
}

.teste{
	font-weight: bold;
}
